.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.c text eol=lf
*.h text eol=lf
*.ps1 text eol=crlf
*.pdf binary
*.png binary
*.glb binary
*.stl binary
*.step binary
